@model ZCStudio.Documents.Server.Models.DocumentContent

@{
    Layout = "~/Views/Document/_Layout_Document.cshtml";
    ViewData["Title"] = $"{ ViewData["Title"]}-DocPage";
}

@section Head{
    <environment names="Development">
        @*<link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/solarized-dark.min.css" rel="stylesheet">*@
        <link href="~/lib/highlight/src/styles/solarized-dark.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/highlight/src/styles/solarized-dark.css" rel="stylesheet" />
    </environment>
    <link href="~/css/markdownstyle.css" rel="stylesheet" />
}

<div id="content" class="container-fluid"></div>

@section Scripts{
    <environment names="Development">
        <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
        <script src="~/lib/marked/marked.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
        <script src="~/lib/marked/marked.min.js"></script>
    </environment>
    <script src="~/js/drawcontent.js"></script>
}